.card-size {
    height : 293px;
    width : 293px;
    margin : 5px;
    padding : 0px;
    margin-bottom: 20px;
}

.profile-size {
    height : 152px;
    width : 935px;
    margin-top : 130px;
    margin-bottom : 50px;
}

